@use 'variable' as *;

@mixin flex($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}


@mixin btn_border{
  border: 1.5px solid $btn-bg;
}

@mixin dimesions($width, $height) {
  width: $width;
  height: $height;
}